.profile{
  height:100%;
  width:100%;
	background-image:url('../../../assets/back.jpg');
  /* justify-content:space-around; */
}
.white{
  color:white
}

.d-flex{
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
}

.comments{
  color:#2f4f5a;
  background-color:#ECE9E4;
  flex-basis: 45%;
}

.new-comment{
  /* color:white; */
  /* background-color:#B56F3B; */
  color:#ECE9E4;
  background-color:#112530;
}
/* media smartphones */

@media (max-width: 600px) {

  .all-comments{
   flex-grow: 4;
  }

}

