<div class="row">
  <div class="all-comments col-7">
    <div class="p-3 text-center">
      <h3>Your comments</h3>
    </div>
    <div class="d-flex">
      <div class="card m-3">
        <div class="card-body">
          <p class="card-text">
            This isakjsldhasjdkhaskjldaskjdasjk some text in card of new comment
          </p>
          <hr />
          <div class="buttons text-end">
            <button class="btn btn-outline-success m-1">
              <i class="bi bi-pencil-fill"></i>
            </button>
            <button class="btn btn-outline-danger m-1">
              <i class="bi bi-trash3-fill"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="card m-3">
        <div class="card-body">
          <p class="card-text">
            This isakjsldhasjdkhaskjldaskjdasjk some text in card of new comment
          </p>
          <hr />
          <div class="buttons text-end">
            <button class="btn btn-outline-success m-1">
              <i class="bi bi-pencil-fill"></i>
            </button>
            <button class="btn btn-outline-danger m-1">
              <i class="bi bi-trash3-fill"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="new-comment col-5">
    <div class="card-title p-3">
      <h3>New comment</h3>
    </div>
      <div class="card m-3">
        <div class="card-body">
          <div class="">
            <label for="exampleFormControlTextarea1" class="form-label">
              Post your comment here!
            </label>
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
            ></textarea>
          </div>
        </div>
        <button type="button" class="btn btn-warning mb-2 ms-2 me-2">Post</button>
      </div>
  </div>
</div>
