<!-- TOP PART -->
<div class="upFlex">
  <!--LEFT PART-->
  <div class="left-divisor">
    <h1 class="text-center mt-5">Mario Cristian Torres Lepe</h1>
    <h3 class="text-center">Web Developer</h3>
    <div class="text-center mb-5">
      <img
          src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
          class="img-thumbnail avatar"
          />
    </div>
  </div>
  <!-------------------------->

  <!-- RIGHT PART-->
  <div class="right-divisor">

    <h3 class="mt-5 text-center fw-bold">Personal Information</h3>
    <hr style="color: #a1a2a6" />

    <div class="container">
      <div class="">
        <div class="text-center mt-5">
          <h5 class="mt-3"><i class="bi bi-geo-alt"></i> Las Cabras, Rancagua</h5>
          <h5 class="mt-3"><i class="bi bi-whatsapp"></i> +56984408727</h5>
          <h5 class="mt-3"><i class="bi bi-envelope"></i> mario.torreslepe@gmail.com</h5>
          <h5 class="mt-3"><i class="bi bi-github"></i> https://github.com/MarioTorresL</h5>
        </div>
      </div>

      <div class="mt-3">
        <div class="text-center mt-5">
          <h5>I consider myself a proactive person, eager to learn and willing to change. 
            I believe that communication, tolerance for errors, 
            perseverance and being self-taught is the key in software development.</h5>
        </div>
      </div>
    </div>

  </div>
  <!-------------------------------->
</div>
<!-- FINISH TOP PART--> 


<h2 class="text-center titulos mt-5 mb-5">Technologies</h2>
<!-- WITH FLEXBOX -->
<div class="container dflex mb-5">

  <div class="col tec" *ngFor="let tech of data">
    <img src="../../../assets/{{tech.image}}" class="imagetech" alt="...">
    <h5 class="card-title titleimage text-center mt-2">{{tech.name}}</h5>
    <p class="exp">EXP:  
    <i class="bi bi-star-fill" *ngFor="let n of tech.puntuation"></i> / 5 
    </p>
  </div> 

</div>

<!-- WITH GRID -->
<h2 class=" text-center titulos mt-5 mb-5">Experience</h2>

<div class="row mb-5 container-fluid">

  <div class="col-lg-4 col-sm-12">
    <h4 class="subtitulos">Practica Profesional</h4>
    <p align="center">
    Mi practica profesionál fue en Octo Inc, desarrollando tanto en back como en front. Durante este tiempo trabajé en distintos proyectos (Enel y Cencosud)

    </p>
  </div>
  <div class="col-lg-4 col-sm-12">
    <h4 class="subtitulos">Octo Inc</h4>
    <p align="center">
    En la empresa OctoInc trabajé como desarrollador tanto en backend como en front, además de diseñar vistas de usuario, modificar y aportar en la base de datos, e ir a reuniones con clientes para toma de nuevos requerimientos. El proyecto en el cual estuve involucrado fue Coordinador Electrico Nacional
    </p>
  </div>
  <div class="col-lg-4 col-sm-12">
    <h4 class="subtitulos">Ritesa</h4>
    <p align="center">
    En la empresa RITESA trabajé como encargado del area de informatica de la misma. Mi labor era la creacion y mantencion de su sitio web, demas de implementar nuevas tecnologias a la misma empresa (creacion de app inventarios entre otras), ademas de mantencion de equipos.
    </p>
  </div>


