
.left-divisor{
	background-color: #2F4F5A;
	color:#ECE9E4;
}
.right-divisor{
	background-color:#ECE9E4;
	color:#2F4F5A;
}
.avatar{
	width: 15rem;
	height: 15rem;
}
.titulos{
	color:#B56F3B;
	font-weight:bold;
}
.dflex{
 display: flex;
 flex-wrap:wrap;
 justify-content:space-between;
 align-items:center;
 flex-grow:5;
}
.imagetech{
	width:7rem;
	height:7rem;
}
.tec{
	order:5;
	text-align: center;
	flex: 1 0 20%;
	margin-bottom:2rem;
}
.titleimage{
	color:#2F4F5A;
}
.exp{
	color:#C4A384;
	font-weight:bold;
}

@media screen and ( max-width: 992px) {
  .tec {
		flex: 4 0 30%;
  }
}

@media only screen and (max-width: 600px) {
	.tec{
	flex:2 0 50%;
	}
} 
