
<div class="row">
  <div class="col-lg-6 col-sm-12 left-divisor">
    <h1 class="text-center mt-5">Mario Cristian Torres Lepe</h1>
    <h3 class="text-center">Web Developer</h3>
    <div class="text-center mb-5">
      <img
          src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
          class="img-thumbnail avatar"
          />
    </div>
  </div>

  <div class="col-lg-6 col-sm-12 right-divisor">
    <h3 class="mt-5 fw-bold">Personal Information</h3>
    <hr style="color: #a1a2a6" />

    <div class="row">

      <div class="col-lg-6 col-sm-12">
        <div class="text-center mt-5">
          <h5 class="mt-3"><i class="bi bi-geo-alt"></i> Las Cabras, Rancagua</h5>
          <h5 class="mt-3"><i class="bi bi-whatsapp"></i> +56984408727</h5>
          <h5 class="mt-3"><i class="bi bi-envelope"></i> mario.torreslepe@gmail.com</h5>
          <h5 class="mt-3"><i class="bi bi-github"></i> https://github.com/MarioTorresL</h5>
        </div>
      </div>

      <div class="col-lg-6 col-sm-12 mt-3">
        <div class="text-center mt-5">
          <h5>I consider myself a proactive person, eager to learn and willing to change. 
            I believe that communication, tolerance for errors, 
            perseverance and being self-taught is the key in software development.</h5>
        </div>
      </div>

    </div>
  </div>

  <h2 class="text-center titulos mt-5 mb-5">Technologies</h2>
  <!-- WITH FLEXBOX -->
  <div class="container dflex mb-5">

    <div class="col tec">
      <img src="../../../assets/css.png" class="imagetech" alt="...">
      <h5 class="card-title titleimage text-center mt-2">CSS</h5>
      <p class="exp"> 
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>        
      <i class="bi bi-star-fill"></i> / 5 
      </p>
    </div> 

    <div class="tec">
      <img src="../../../assets/html.png" class="imagetech" alt="...">
      <h5 class="card-title titleimage text-center">HTML</h5>
      <p class="exp"> 
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>        
      <i class="bi bi-star-fill"></i> / 5 
      </p>
    </div> 

    <div class="tec">
      <img src="../../../assets/js.png" class="imagetech" alt="...">
      <h5 class="card-title titleimage text-center">JavaScript</h5>
      <p class="exp"> 
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>        
      <i class="bi bi-star-fill"></i> / 5 
      </p>
    </div> 

    <div class="tec">
      <img src="../../../assets/typescript.png" class="imagetech" alt="...">
      <h5 class="card-title titleimage text-center">Typescript</h5>
      <p class="exp"> 
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>        
      <i class="bi bi-star-fill"></i> / 5 
      </p>
    </div> 

    <div class="tec">
      <img src="../../../assets/nvim.jpg" class="imagetech" alt="...">
      <h5 class="card-title titleimage text-center">Nvim</h5>
      <p class="exp"> 
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>        
      <i class="bi bi-star-fill"></i> / 5 
      </p>
    </div> 

    <div class="tec">
      <img src="../../../assets/git.png" class="imagetech" alt="...">
      <h5 class="card-title titleimage text-center">Git</h5>
      <p class="exp"> 
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>        
      <i class="bi bi-star-fill"></i> / 5 
      </p>
    </div> 

    <div class="tec">
      <img src="../../../assets/angular.png" class="imagetech" alt="...">
      <h5 class="card-title titleimage text-center">Angular</h5>
      <p class="exp"> 
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>        
      <i class="bi bi-star-fill"></i> / 5 
      </p>
    </div> 

    <div class="tec">
      <img src="../../../assets/node.jpg" class="imagetech" alt="...">
      <h5 class="card-title titleimage text-center">Node Express</h5>
      <p class="exp"> 
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>        
      <i class="bi bi-star-fill"></i> / 5 
      </p>
    </div> 

    <div class="tec">
      <img src="../../../assets/react.png" class="imagetech" alt="...">
      <h5 class="card-title titleimage text-center">React</h5>
      <p class="exp"> 
      <i class="bi bi-star-fill"></i>        
      <i class="bi bi-star-fill"></i> / 5 
      </p>
    </div> 

    <div class="tec">
      <img src="../../../assets/linux.jpg" class="imagetech" alt="...">
      <h5 class="card-title titleimage text-center">Linux(debian-arch)</h5>
      <p class="exp"> 
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>        
      <i class="bi bi-star-fill"></i> / 5 
      </p>
    </div> 

    <div class="tec">
      <img src="../../../assets/postgre.png" class="imagetech" alt="...">
      <h5 class="card-title titleimage text-center">Postgre</h5>
      <p class="exp"> 
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>        
      <i class="bi bi-star-fill"></i> / 5 
      </p>
    </div> 

    <div class="tec">
      <img src="../../../assets/mysql.png" class="imagetech" alt="...">
      <h5 class="card-title titleimage text-center">Mysql</h5>
      <p class="exp"> 
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>        
      <i class="bi bi-star-fill"></i> / 5 
      </p>
    </div> 

    <div class="tec">
      <img src="../../../assets/mongo.png" class="imagetech" alt="...">
      <h5 class="card-title titleimage text-center">Mongo</h5>
      <p class="exp"> 
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>        
      <i class="bi bi-star-fill"></i> / 5 
      </p>
    </div> 

    <div class="tec">
      <img src="../../../assets/sequelize.png" class="imagetech" alt="...">
      <h5 class="card-title titleimage text-center">Sequelize</h5>
      <p class="exp"> 
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>        
      <i class="bi bi-star-fill"></i> / 5 
      </p>
    </div> 

    <div class="tec">
      <img src="../../../assets/mongoose.png" class="imagetech" alt="...">
      <h5 class="card-title titleimage text-center">Mongoose</h5>
      <p class="exp"> 
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>        
      <i class="bi bi-star-fill"></i> / 5 
      </p>
    </div> 

  </div>

  <!-- WITH GRID -->
  <div class="container row mb-5">
    <h2 class=" text-center titulos mt-5 mb-5">About Me</h2>

  </div>


</div>
