<div class="fluid">
	<div class="up" *ngIf="user">
		<div class="card cardUp">
			<div class=" card-header">
				<h5 class="m-3">comment here</h5>
			</div>
			<div class="m-2">
				<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
			</div>
			<button type="submit" class="btn btn-warning">Submit</button>
		</div>
	</div>

	<div class="dflex">
		<div *ngFor="let data of comments" class="card comment m-4">
			<div class="title card-header">
				<h4> {{data.User?.userName}} </h4>
				<h6 class="text-muted">{{data.User?.email}}</h6>
			</div>
			<div class="card-body">
				<p class="card-text textdata">{{data.comment}}</p>
			</div>
		</div>

	</div>

</div>
