.fluid{
	min-height:100vh;
	background-image:url('../../../assets/back.jpg');
}
.up{
	display:flex;
	justify-content:center;
}
.cardUp{
	margin:3rem;
  background-color:#2F4F5A;
	color: #FFC107;
}
.dflex{
	display:flex;
	flex-wrap:wrap;
}
.title{
	color:#FFC107;
	font-weight:bold;
}
.textdata{
	color:#ECE9E4;
	font-weight:bold;
}
.comment{
  background-color:#2F4F5A;
	flex:4 0 30%;
}

@media only screen and (max-width: 600px) {
	.card{
	flex:2 0 50%;
	}
} 
